* {
	margin: 0;
	padding: 0;
}

html {
	 /* height: 100%;  */
}

body {
	background-image: url(../img/zwartevilt_@2X.jpg);
	 /* height: 100%;  */
}

.wrapper {
	color: wheat;
	 border: 1px solid red; 
	margin: 0% 20%;
	height: 100%;
}

header {
	color: #666;
	 border: 1px solid red; 
	display: flex;
	justify-content: space-between;
	padding: 20px;

}

.main {
	display: flex;
	flex-direction: column;
	padding:10%;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	height: 50px;
	padding: 0 10px 0 10px;
	/* margin: 50px 0; */
	border-radius: 5px;
}

textarea {
	margin-bottom: 20px;
	padding: 20px;
}

#message {
	height: 400px;
	border-radius: 5px;
}

footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%; 
	padding: 20px;
	color: #666;
	
	border: 1px solid red; 
}

@keyframes logo {
	0% {
		border-radius: 0 0 0 0;
		transform: rotate(0deg);
	}
	25% {
		border-radius: 50% 0 0 0;
		transform: rotate(45deg);
	}
	50% {
		border-radius: 50% 50% 0 0;
		transform: rotate(90deg);
	}
	75% {
		border-radius: 50% 50% 50% 0;
		transform: rotate(135deg);
	}
	100% {
		border-radius: 50% 50% 50% 50%;
		transform: rotate(180deg);
	}
}

.logo {
	width:20px;
	height: 20px;
	background-color: #666;
	animation: logo 2s ease 1s forwards;
	/* animation-play-state: paused; */
}