<header class="header">
        <button class="btn"><a href="./home">Home</a></button>
        <button class="btn"><a href="./registration">registration</a></button>
        <button class="btn"><a href="./login">login</a></button>
        <button class="btn"><a href="./sendMail">SendMail</a></button>
        <button class="btn"><a href="./about">about</a></button>
        <button class="btn"><a href="./">loguot</a></button>
</header>