<section class="wrap">
<h1>login</h1>
    <div class="form" >
        <form class="formLogin" method="post" action="./users/login">
            <input class="formInput" type="text" name="name">
            <input class="formInput" type="password" name="password">
            <input class="formInput" type="submit" value="send">
        </form>
    </div>
</section>