
<section class="wrap">
<h1>registration</h1>
    <div class="form">
        <form class="formRegistration">
            <input class="formInput" type="text" name="name">
            <input class="formInput" type="text" name="name">
            <input class="formInput" type="text" name="password">
            <input class="formInput" type="text" name="password">
            <input class="formInput" type="submit" value="send">
        </form>
    </div>
</section>